:root {
  --red: #ff8383;
  --green: #85ff85;
  --main: #9c7eff;
  --main-light: #e1d7ff;
  --secondary: #455eb5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  text-align: center;
  color: var(--secondary);
  background: url("./assets/bg.svg") center/cover no-repeat;
}

.title {
  margin: 40px 0;
  font-size: 2.5rem;
}

.title-secondary {
  background-image: linear-gradient(to right, #9c7eff, #85aeff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.controls-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 240px;
  max-width: 1000px;
}

@media screen and (min-width: 460px) {
  .title {
    font-size: 3rem;
  }
}

@media screen and (min-width: 760px) {
  body {
    width: 80%;
  }
  .title {
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .controls-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
  }
}

.select-container {
  display: block;
}

select {
  padding: 5px;
  cursor: pointer;
  color: var(--main);
  font-size: 1.8rem;
  transition: color 0.25s ease-in-out;
}

select:hover {
  border-color: #583bb7;
  color: #583bb7;
}

select:disabled {
  cursor: not-allowed;
  color: grey;
  border-color: grey;
}

.border {
  padding: 15px;
  margin: 15px;
  border: 1px solid #9c7eff;
  border-radius: 10px;
}

.canvas {
  margin: 10px;
  width: 100%;
  max-width: 1000px;
  background-color: rgb(236, 234, 255);
}

.legend-content {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.4rem;
  max-width: 920px;
  text-align: left;
}

.legend-description {
  font-size: 1.35rem;
  font-weight: 300;
  line-height: 1.55;
  margin-bottom: 12px;
  color: var(--secondary);
}

.legend-description strong {
  font-weight: 600;
}

.legend-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 6px 0;
}

.legend-color {
  position: relative;
  top: 1px;
  left: -3px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 4px;
  background-color: var(--red);
}

.legend-color--green {
  background-color: var(--green);
}

.legend-color--main {
  background-color: var(--main);
}

.legend-color--main-light {
  border: 1px solid #c1aeff;
  background-color: var(--main-light);
}

.button {
  display: inline-block;
  margin: 10px 0;
  outline: 0;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  height: 35px;
  padding: 0px 15px;
  text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
  background: linear-gradient(
    92.88deg,
    rgb(69, 94, 181) 9.16%,
    rgb(86, 67, 204) 43.89%,
    rgb(103, 63, 215) 64.72%
  );
  transition: all 0.5s ease 0s;
}
.button:hover {
  box-shadow: rgb(80 63 205 / 50%) 0px 1px 40px;
  transition: all 0.1s ease 0s;
}
.button:active {
  background: linear-gradient(
    92.88deg,
    rgb(31, 58, 156) 9.16%,
    rgb(47, 31, 146) 43.89%,
    rgb(53, 23, 134) 64.72%
  );
}

.range-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
}

.range-container label {
  position: relative;
  top: -2px;
}

.range {
  -webkit-appearance: none;
  appearance: none;
  background: var(--main);
  border-radius: 1rem;
  margin: 1rem;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(2);
  box-shadow: 0 0 6px 0px #ffffff88;
  cursor: grab;
  border: 2px solid var(--main);
  transition: 0.2s;
  position: relative;
}

.range::-webkit-slider-thumb:active {
  transform: scale(2.4);
}

.range-text {
  display: inline-block;
  position: absolute;
  top: 20px;
  width: 40px;
  height: 15px;
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--main);
  user-select: none;
}

.range-text--left {
  left: 65px;
}

.range-text--right {
  left: 187px;
}
